.arrow{
    width: 1.2em;
    margin-left: 20px;
}
.font{
    font-family: 'Boska Variable',sans-serif;
    /* font-style: italic; */
}



/* 동영상 재생시 큰 화면 */
.embed{
    cursor: auto;
    letter-spacing: normal;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    color: #fff;
    text-align: center;
    z-index: 2000;
    /* opacity: 0; */
    background: rgba(0, 0, 0, .9);
    outline: 0;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.2;
    list-style: disc;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.btn-wrap{
    display: flex;
}